In [18]:
import pandas as pd
import numpy as np
import sklearn

In [19]:
data = pd.read_csv('housing.csv')

In [20]:
len(data.columns)

10

In [21]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [77]:
data.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [23]:
data[data.ocean_proximity == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

In [24]:
data.total_bedrooms.mean()

537.8705525375618

In [28]:
data.total_bedrooms = data.total_bedrooms.fillna(data.total_bedrooms.mean())

In [31]:
data.total_bedrooms.mean()

537.8705525375617

In [82]:
numeric = ['housing_median_age','total_rooms','total_bedrooms']
X = data[data.ocean_proximity == 'ISLAND']
X = X[numeric]

In [67]:
#ones = np.ones(X.shape[0])
#X = np.column_stack([ones, X])

In [83]:
X.T

                      8314    8315    8316   8317   8318
housing_median_age    27.0    52.0    52.0   52.0   29.0
total_rooms         1675.0  2359.0  2127.0  996.0  716.0
total_bedrooms       521.0   591.0   512.0  264.0  214.0

In [84]:
XTX = X.T.dot(X)

In [85]:
XTX

                    housing_median_age  total_rooms  total_bedrooms
housing_median_age              9682.0     351053.0         91357.0
total_rooms                   351053.0   14399307.0       3772036.0
total_bedrooms                 91357.0    3772036.0        998358.0

In [86]:
XTX_inv = np.linalg.inv(XTX)

In [72]:
XTX_inv

array([[ 5.33442750e-04, -1.19510089e-05, -3.51432551e-08,
        -9.31322324e-08],
       [-1.19510089e-05,  3.52543789e-07,  9.49719618e-10,
        -1.20642420e-09],
       [-3.51432551e-08,  9.49719618e-10,  7.51689626e-11,
        -3.53586570e-10],
       [-9.31322324e-08, -1.20642420e-09, -3.53586570e-10,
         1.97009117e-09]])

In [87]:
y = [950, 1300, 800, 1000, 1300]

In [89]:
w = XTX_inv.dot(X.T).dot(y)

In [90]:
w[-1]

5.6992294550655656